#navbar {
    text-align:center;
}

#navbar li {
    display:inline-block;
    border: 2px solid black;
    padding: 10px;
    background-color: grey;
}
#center {
    
}

.applepie{
    /*position: fixed;*/
    top: 300px;
    width:-300px;
}

.raspberrypie{
    /*position: fixed;*/
    top: 450px;
    width:-300px;
}

.blackberrypie{
    /*position: fixed;*/
    top:550px;
}

.cherrypie{
    /*position:fixed;*/
    top:450px;
}

.pumpkinpie{
    top:450px;
}

.coconutpie{
    top:450px;
}

.blueberrypie{
    top:550px;
}

.boysenberrypie{
    top:650px;
}

.bumbleberrypie{
    top:650px;
}

.peachpie{
    top:650px;
}

.peacanpie{
    top:750px;
}

.rainbowpie{
    top:850px;
}

#navbar a {
    color: white;
}
.foogle {
    border-bottom-width: 350px; height:250px;
}

